[submodule "repo1"]
	path = repo1
	url = https://github.com/nukisashinekotemporary/repo1.git
[submodule "repo2"]
	path = repo2
	url = https://github.com/nukisashinekotemporary/repo2.git
[submodule "repo3"]
	path = repo3
	url = https://github.com/nukisashinekotemporary/repo3.git
[submodule "repo4"]
	path = repo4
	url = https://github.com/nukisashinekotemporary/repo4.git
